<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gracias por suscribirte a Labase</title>
  </head>
  <body
    style="background-color: #fafaf9; padding: 2rem; font-family: sans-serif"
  >
    <div style="max-width: 600px; margin: auto">
      <div>
        <img src="cid:logo" alt="logo" width="50" height="50" />
        <h1
          style="
            color: #1c1917;
            font-size: 1.5rem;
            font-family: serif;
            margin-bottom: 0.5rem;
            text-align: left;
          "
        >
          ¡Gracias por suscribirte a la base!
        </h1>
      </div>

      <p style="color: #57534e; font-size: 0.8rem">
        Hola <%= name %>,<br /><br />
        Gracias por suscribirte. Es un placer darte la bienvenida a nuestra
        comunidad. A partir de ahora recibirás novedades exclusivas, descuentos
        especiales solo para suscriptores, promociones irresistibles,
        invitaciones a eventos y muchas otras sorpresas pensadas para ti.
        Queremos que estés siempre al día y disfrutes de beneficios únicos en
        cada mensaje que recibas de nosotros.
      </p>

      <p
        style="
          color: #78716c;
          font-size: 0.8rem;
          margin-top: 1rem;
          text-align: left;
        "
      >
        Si tú no solicitaste esta suscripción, puedes ignorar este mensaje o
        contactarnos para eliminar tu correo de la lista.
      </p>

      <p
        style="
          color: #a8a29e;
          font-size: 0.75rem;
          text-align: left;
          margin-top: 1rem;
        "
      >
        Este correo fue enviado automáticamente por el sistema de LaBase.
      </p>
    </div>
  </body>
</html>
