<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gracias por suscribirte</title>
</head>
<body style="background-color: #fafaf9; font-family: sans-serif;">
  <div style="max-width: 600px; margin: auto;  overflow: hidden;">
    
    <!-- Header -->
    <div style="padding: 1.5rem; text-align: center;">
      <img src="cid:logo" alt="LaBase Logo" width="60" height="60" />
      <h1 style="color: #1c1917; font-size: 1.5rem; font-family: serif; margin: 1rem 0 0.5rem 0;">
        ¡GRACIAS POR SUSCRIBIRTE A 
        <br>
        LA BASE COWORK!
      </h1>
      <p style="color: #57534e; font-size: 0.9rem; margin: 0;">
        Bienvenido a la comunidad donde siempre estarás al día y con ventajas exclusivas.
      </p>
    </div>

    <!-- Highlight -->
    <div style="background-color: #f5f5f4; padding: 2rem; text-align: center; color: #44403c; font-size: 0.9rem;">
      <p style="margin-bottom: 0.5rem;">
        Como agradecimiento por unirte, te regalamos un <strong>descuento exclusivo</strong> 
        Además, recibirás todas nuestras novedades y no te perderás de nada en "La Base Cowork".
      </p>
      <a href="https://labase.pe" 
         style="display: inline-block; background-color: #1c1917; color: #ffffff; text-decoration: none; padding: 0.8rem 2rem; border-radius: 256px; margin-top: 1rem; font-size: 0.8rem; letter-spacing: 0.02rem">
          USAR MI DESCUENTO
      </a>
    </div>

    <!-- Visuals -->
    <div style="padding: 2rem; text-align: center;">
      <h2 style="color: #1c1917; font-size: 1.2rem; font-family: serif; margin-bottom: 0.5rem;">
        ESPACIOS QUE INSPIRAN
      </h2>
      <table role="presentation" width="100%" cellspacing="0" cellpadding="0" style="border-spacing: 10px;">
        <tr>
          <td><img src="https://labase.pe//images/espacios/base_operativa/28.webp" width="250" height="200"  alt="Espacio cowork" style="object-fit: cover;" /></td>
          <td><img src="https://labase.pe//images/espacios/arsenal/14.webp" style="object-fit: cover;"  alt="Zona común" height="200"  width="250" /></td>
        </tr>
        <tr>
          <td><img src="https://labase.pe//images/espacios/el_hangar/3.webp" style="object-fit: cover;"  height="200"  alt="Salas de reuniones" width="250" /></td>
          <td><img src="https://labase.pe//images/espacios/sala_de_recepcion/7.webp" style="object-fit: cover;"  height="200"  alt="Eventos" width="250" /></td>
        </tr>
      </table>
    </div>

    <!-- Footer -->
    <div style="padding: 1rem; text-align: center; color: #a8a29e; font-size: 0.75rem; background-color: #fafaf9;">
      Este correo fue enviado automáticamente por el sistema de LaBase.  
      <br/>Si no deseas recibir más correos, puedes darte de baja en cualquier momento.
    </div>

  </div>
</body>
</html>